/* Stylesheet for the 'affinitic.skin' Plone theme */

body{
background-color:#8a9dbd;
font-size:12pt;
color:#fff;              /*#d3e7f1;*/
}

h1, h2{
color:#415370;
}

h3, h4, h5, h6{
color:#d6e9ff;
}

h1, h2 {
border-bottom:1px solid #cee0ff;
font-weight:normal;
}

a{
color:#b9efff;
}

legend{
background-color:transparent;
}

#logo-affinitic{
position:relative;
top:-81px;
left:677px;
z-index:10;
width:111px;
height:111px;
}

#logo-affinitic a{
display:block;
width:111px;
height:111px;
}

.title{
font-size:1.6em;
width:625px;
display:block;
}




.documentFirstHeading {
display: none;
}

.documentContent {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-color:#8a9cbc;
font-size:110%;
padding:1em 1em 2em !important;
}

.reference{
margin-bottom:2em;
border:1px solid #adbfe1;
}

.reference legend{
background-color:transparent;
color:#2a59a7;
font-variant:small-caps;
font-weight:bold;
font-size:1.2em;
}

.texte-reference{
padding:0 20px;
vertical-align:top;
}
