body{
margin:0;
background-color:#333333;
background-image:url(images/bg_body_04.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
}

#wrapper{
}

#main-content{
width:1000px;
height:740px;
border-radius:0px 30px 5px 25px;
position:absolute;
top:50%;
left:50%;
margin-top:-430px;
margin-left:-500px;
background-color:rgba(220,220,220,0.8);
}

#menu-sup{
border:1px solid #ddd;
border-radius:0px 80px 0px 0px;
background-color:rgba(180,180,180,0.5);
/*height:50px;*/
}

#menu-sup li{
}

#menu-sup li a{
display:inline-block;
height:30px;
width:120px;
line-height:30px;
text-align:center;
border-left:1px solid #d7dada;
border-right:1px solid #d7dada;
font-size:0.8em;
color:#555;
text-shadow:1px 1px 1px rgba(255, 255, 255, 1);



background:-moz-linear-gradient(top,  rgba(245,246,246,0.33) 0%, rgba(219,220,226,0.34) 21%, rgba(184,186,198,0.35) 49%, rgba(221,223,227,0.36) 80%, rgba(245,246,246,0.36) 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,0.33)), color-stop(21%,rgba(219,220,226,0.34)), color-stop(49%,rgba(184,186,198,0.35)), color-stop(80%,rgba(221,223,227,0.36)), color-stop(100%,rgba(245,246,246,0.36)));
background:-webkit-linear-gradient(top,  rgba(245,246,246,0.33) 0%,rgba(219,220,226,0.34) 21%,rgba(184,186,198,0.35) 49%,rgba(221,223,227,0.36) 80%,rgba(245,246,246,0.36) 100%);
background:-o-linear-gradient(top,  rgba(245,246,246,0.33) 0%,rgba(219,220,226,0.34) 21%,rgba(184,186,198,0.35) 49%,rgba(221,223,227,0.36) 80%,rgba(245,246,246,0.36) 100%);
background:-ms-linear-gradient(top,  rgba(245,246,246,0.33) 0%,rgba(219,220,226,0.34) 21%,rgba(184,186,198,0.35) 49%,rgba(221,223,227,0.36) 80%,rgba(245,246,246,0.36) 100%);
background:linear-gradient(to bottom,  rgba(245,246,246,0.33) 0%,rgba(219,220,226,0.34) 21%,rgba(184,186,198,0.35) 49%,rgba(221,223,227,0.36) 80%,rgba(245,246,246,0.36) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54f5f6f6', endColorstr='#5cf5f6f6',GradientType=0 );

transition:all 0.5s ease-in;
transition:all 0.5s ease-in;
-moz-transition:all 0.5s ease-in;
-o-transition:all 0.5s ease-in;
-webkit-transition:all 0.5s ease-in;
-ms-transition:all 0.5s ease-in;
}

#menu-sup li a:hover{
color:#111;
background-color:rgba(140,51,16,0.28);
}

#logo{
width:150px;
height:150px;
background-image:url(images/affinitic_logo.png);
background-repeat:no-repeat;
margin-left:50px;
margin-top:10px;
}


#content-text{
float:left;
width:580px;
height:500px;
margin-top:20px;
overflow:auto;
margin-left:5px;
}

#content-image{
width:390px;
margin-top:-150px;
/*background-color:rgba(126,114,91,0.5);*/
float:right;
min-height:685px;
}

#footer{
margin-top:10px;
border-radius:12px;
background-color:rgba(100,100,100,0.5);
height:150px;
}

#portal-footer{
background-color:transparent;
}


.break-float{
clear:both;
}

#content h1.documentFirstHeading {
margin-top: 0;
color:rgba(140,51,16,0.28);
border-bottom:1px dotted #ddd;
}

